DISCORD_TOKEN=your_discord_bot_token_here
CLIENT_ID=your_bot_client_id_here
GUILD_ID=your_guild_id_here
ADMIN_ROLE_ID=your_admin_role_id_here
PREFIX=!
CHECK_INTERVAL=3
LOG_CHANNEL_ID=your_log_channel_id_here

YOUTUBE_CHANNEL_IDS=UCuAXFkgsw1L7xaCfnd5JJOw,UC-lHJZR3Gqxm24_Vd_AJ5Yw
YOUTUBE_CHANNEL_NAMES=Rick Astley,PewDiePie
YOUTUBE_ROLE_IDS=123456789012345678,987654321098765432
